@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}
@media (min-width: 768px){
.jumbotron {
    padding-top: 12rem;
}

.jumbotron .container{
  max-width: 100%;
}
}

.imgprop {
  /* border-radius: 100%; */
  /* width: 40vh; */
  height: 45vh;
  display: block;
  width: 100%;
  /* height: auto; */
  transition: 0.5s ease;
}



.btnprop2 {
  background-color: rgb(240, 248, 255) !important;
  color: black;
  border-radius: 50px;
  border: 3px solid;
  transition: 0.35s ease;
  border-color: black;
}

.btnprop2:hover {
  background-color: black !important;
  border-color: black;
}

.btnprop {
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 7%;
  background-color: rgb(240, 248, 255) !important;
  
  color: black;
}

.btnprop:hover {
  background-color: black !important;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 0;
  transition: 0.5s ease;
  background-color: black;
  /* border-radius: 100%; */
}

.overlay1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: black;
    padding-top: 30%;
    font-size: 20px;
    font-weight: 200;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .3s ease;
  }
.card{
    position: relative;
}

.card:hover .overlay1 {
    width: 100%;
    color: white;
  }
  

.text {
  color: white;
  padding-top: 30%;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.navbar{
    background-color: black !important;
}


.padds {
  padding: 10% 0;
}

.allmargs {
  /* margin: % 0 0 0; */
  padding: 5% 0;
}

.ml10 {
  position: relative;
  font-weight: 700;
  font-size: 3em;
}

.ml1 {
  position: relative;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}
#slide {
  position: absolute;
  left: -200%;
  /* background: black; */
  -webkit-animation: slide ease-out forwards;
  animation: slide 2s ease-out forwards;
}


@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

.fa1 {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    transition: 0.5s ease;
  }


.btnprop2:hover .fa{
    color: white;
}

  
.nav-item1{
    width: 20vh;
}

.nav-item{
    margin: 0 2%;
}

a {
    color: white;
    
}
a:hover{
  color: white;
 
}

p {
    color: white;
    font-weight: 200;
}

.load{
  padding-left: 5%;
}

.text-left{
  font-size: 20px;
}