@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}
@media (min-width: 768px){
.jumbotron .container{
  max-width: 100%;
  padding: 0;
}
}
.jumbotron{
  margin-bottom: 10%;
}

.text-cover {
  padding-top: 15% ;
}

.imgprop {
  height: 45vh;
  display: block;
  width: 100%;
  transition: 0.5s ease;
}



.btnprop {
  background-color: rgb(240, 248, 255) !important;
  color: black;
  border-radius: 50px;
  border: 3px solid;
  transition: 0.35s ease;
  border-color: black;
}

.btnprop:hover {
  background-color: black !important;
  border-color: black;
}



.card{
    position: relative;
}


.navbar{
    background-color: black !important;
}


.padds {
  padding: 10% 0;
}

.allmargs {
  /* margin: % 0 0 0; */
  padding: 5% 0;
}

.fa1 {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    transition: 0.5s ease;
  }


.btnprop2:hover .fa{
    color: white;
}


.nav-item{
    margin: 0 5%;
}

a {
    color: white;
    
}
a:hover{
  color: white;
 
}

p {
    color: white;
    font-weight: 200;
}

.load{
  padding-left: 5%;
}

.text-left{
  font-size: 20px;
  color: black;
}

.card-title{
  font-family: 'Pacifico';
  font-size: 25px;
}

.txt{
  color: black;
  /* padding: 5%; */
  font-size: 20px;
  font-weight: 200;
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: center;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .35s ease;
}

.card:hover .overlay {
  width: 100%;
}

.servicons{
  padding: 5%;
  margin: 0 20%;
  width: 60%;
  filter: invert();
  height: auto;
}

.servicon-label{

  padding: 0 25%;
  color: white; 
  font-size: 30px; 
  font-weight: 400;

}

.service-cover{
  background-repeat: no-repeat !important; 
  background-position: center !important; 
  background-size: cover !important;
}

.footer-logo{
  font-family: 'Pacifico'; 
  font-size: 50px;
  color: white;
  transition: 0.5s ease;
}

.footer-logo:hover{
  color: rgb(137, 149, 160) ;
}

.desc{
  font-size: 15px;
  font-weight: 200;
  color: rgb(240, 248, 255) ;
}
